@import "styles/mixins";
@import "styles/variables";

.cart-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5rem 1.5rem;
  background-color: $brand-primary;
  color: $brand-secondary;
  font-weight: "bold";
  border: 3px solid #000;
  cursor: pointer;
  @include transition(all, 0.4s, ease-in-out);

  &:hover {
    background-color: $brand-secondary;
    color: $brand-primary;
  }
}
