@import "@styles/breakpoints";
@import "@styles/mixins";

.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin: 1rem 0 5rem 0;
}

.product-total {
  font-size: 1.2rem;
  margin-top: 3rem;
}
