@import "styles/mixins";
@import "styles/variables";

.hero {
  height: calc(100vh - $headers-height);
  @include flex(center, center);
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/hero.webp") no-repeat center center;
    background-size: cover;
  padding: 0 1rem;
  text-align: center;
  overflow: hidden;

  &-heading {
    font-family: $font-primary;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: bold;
    color: $brand-secondary;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-subheading {
    font-size: clamp(1rem, 0.8214rem + 0.5714vw, 1.5rem);
    color: $brand-secondary;
  }

  &-cta {
    font-weight: bold;
    color: $brand-primary;
    background-color: $brand-secondary;
    margin-top: 1rem;

    &:hover {
      background-color: $brand-primary;
      color: $brand-secondary;
    }
  }
}
