@import "styles/mixins";
@import "styles/breakpoints";
@import "styles/variables";

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $brand-secondary;
  border-bottom: 1px dotted rgb(90, 90, 90, 0.7);
  z-index: 2;
}

.header {
  max-width: $container-width;
  @include flex(space-between, center);
  margin: 0 auto;
  padding: 0 2rem;
  z-index: 2;

  @media (max-width: $mobile) {
    padding: 0 1rem;
  }
}

.navigation-right {
  display: flex;
  * {
    margin: 0 0.5rem;
  }
}

.bag {
  position: relative;

  &::before {
    content: attr(data-count);
    position: absolute;
    top: 0.3rem;
    right: 0.7rem;

    width: 1.4rem;
    height: 1.4rem;

    @include flex(center, center);
    font-size: 1rem;
    background-color: $brand-primary;
    color: $brand-secondary;
    border-radius: 50%;
    z-index: 1;
  }
}
