@import "styles/variables";
@import "styles/breakpoints";

.hamburger {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: block;
  flex-shrink: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;

  @media (min-width: $tablet) {
    display: none;
  }
}

.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background: $brand-primary;
  transition: transform 0.3s ease-in-out, background-color 0.8s 0.5s ease-in-out;
  z-index: 20;
}

.hamburger::after {
  transform: translate(-50%) translateY(4px) scaleX(0.6);
}

.hamburger::before {
  transform: translate(-50%) translateY(-4px);
}

.hamburger.active::after {
  transform: translate(-50%) rotate(-40deg) scaleX(0.8);
  background: $brand-primary;
  z-index: 4;
}

.hamburger.active::before {
  transform: translate(-50%) rotate(40deg) scaleX(0.8);
  background: $brand-primary;
  z-index: 4;
}
