@import "@styles/variables";
@import "@styles/breakpoints";

.footer {
  background-color: $brand-primary;
  color: $brand-secondary;
  text-align: center;
  padding: 1rem;

  @media (min-width: $tablet) {
    display: none;
  }

  &-heading,
  &-media,
  &-text {
    margin: 1rem 0;
  }

  &-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &-subheading {
    font-size: 0.8rem;
  }

  &-text {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &-form {
    width: max(300px, 40%);
    margin: 1rem auto;
    display: flex;
    position: relative;

    & input {
      width: 100%;
      padding: 0.9rem;
      margin: 0 auto;
      color: $brand-secondary;
      background-color: $brand-primary;
      border: 1px solid $brand-teriary;
    }

    & button {
      position: absolute;
      right: 0.5rem;
      top: 0.9rem;
      width: 2rem;
      background-color: $brand-primary;
      fill: $brand-secondary;
      border: none;
    }
  }
}
