@mixin flex($property1, $property2) {
  display: flex;
  justify-content: $property1;
  align-items: $property2;
}

@mixin box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin transition($property, $duration, $effect) {
  transition: all 0.2s ease-in-out;
}

