@import "@styles/variables";
@import "@styles/mixins";

@font-face {
  font-family: "Angleton";
  src: url("../public/fonts/Angleton.woff2") format("woff2");
  font-display: swap;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
  text-rendering: optimizeSpeed;
  background-color: $brand-secondary;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLES  */

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  @include transition(all, 0.4s, ease-in-out);
}

// SCREEN READERS
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.select {
  color: $brand-secondary;
  background-color: $brand-primary;
  border: none;
  padding: 0.5rem 2rem;

  & option:first-of-type {
    background-color: $brand-teriary;
    color: $brand-secondary;
  }

  & option {
    color: $brand-primary;
    background-color: $brand-secondary;
    font-weight: bold;
  }
}
